<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body class="home-body-content">
    <%- include('partials/nav') %>
    <h1>The Stock Market Data Centre</h1>
    <p>
      Welcome to our straightforward financial data hub, where you can easily
      search and retrieve stock market information.
    </p>
    <p>Please login or sign up to initialize a search!</p>
    <%- include('partials/footer') %>
  </body>
</html>
