<!DOCTYPE html>
<html>
  <head>
    <title>Search Results</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body class="body-content">
    <%- include('partials/nav') %>
    <h2>Search Results</h2>
    <% if (results.length > 0) { %>
    <ul>
      <% results.forEach(function(result) { %>
      <li><%= result %></li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>No results found</p>
    <% } %> <%- include('partials/footer') %>
  </body>
</html>
